.App {
  font-family: "Segoe UI",Arial,sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) scale(.5);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(.5);
  }
}

.top-bar {
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  background-color: rgb(30, 30, 30);
  width: 100vw;
}